<h1>Order ID: <%= @order.id %></h1>
<p>Watch: <%= link_to @order.watch.name, @order.watch %></p>
<p>Total Price: <%= number_to_currency(@order.total_price) %></p>
<p>Status: <%= @order.status %></p>

<%= link_to 'Back to Orders', orders_path %>
